html {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-image: url("Assets/background.gif");
}

body {
	margin: 25px;
    padding: 0;
    
}

a {
    color: white;
}

ul { 
    list-style-type: "★"; 
}

ul ul {
    list-style-type: "☆";
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 0px 5px;
}

.back {
    background-color: black;
    border: 0px solid white;
}

#side-nav {
    height: fill;
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    margin: 25px;
    padding: 10px;
}

main {
    margin-left: 200px;
    padding: 10px;
}

.page-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-head * {
    margin: 0;
}

#image-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-right: 0%;
}

#image-board img {
    max-height: 300px;
    margin: 10px;
}

.blog-post p {
    padding: 0px 25px;
}

.photograph {
    margin-top: 50px;
}

.photograph img {
    border: 1px solid white;
    height: 500px;
}

.photograph p {
    margin: 0;;
}